@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes updown {
  0%,
  100% {
    margin-top: 0;
  }

  50% {
    margin-top: -1rem;
  }
}

@keyframes downup {
  0%,
  100% {
    margin-bottom: 0;
  }

  50% {
    margin-bottom: -2rem;
  }
}
