@import "../../styles/variables";
@import "../../styles/keyframes-animation";

.hero {
  width: 100%;

  &__content {
    &--title {
      color: $color-primary-soft;
      font-family: $header-font;
    }

    &--subtitle {
      color: $color-secondary;
    }

    &--desc {
      color: $color-text;
    }
  }

  &__img {
    background-image: url("/src/assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: right -6rem center;
    background-size: 60%;
    position: absolute;
    inset: 0;
  }

  &::before,
  &::after {
    content: "";
    border-radius: 2rem;
    background-color: $color-surface;
    position: absolute;
    box-shadow: 0 0 2rem $color-glow;
    opacity: 0.1;
    z-index: -100;
  }

  &::before {
    width: min(20rem, 50%);
    height: 20%;
    top: calc(5% + 10dvh - 3rem);
    left: 10%;
    animation: updown 5s linear 2s infinite;
  }

  &::after {
    width: 80%;
    height: 65%;
    left: 25%;
    bottom: 15%;
    animation: downup 7s ease 3s infinite alternate;
  }
}
