aside {
  padding: 1rem;
  padding-right: 0;
  border-radius: 10px;
  background-color: rgba(var(--main-color), 0.3);
  text-transform: capitalize;
  position: sticky;
  width: 100%;
  box-shadow: 1px 0 0.5rem rgb(var(--main-color));
}

@media (width <= 767px) {
  aside {
    padding-inline: 0;
  }

  aside nav {
    display: flex;
  }
}

@media (width >= 768px) {
  aside {
    width: 3rem;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

aside nav .nav-item {
  padding: 0.35rem 0.5rem;
  font-size: 1.35rem;
}

aside nav .nav-item a {
  color: rgb(var(--main-color));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

@media (width <= 767px) {
  aside nav .nav-item {
    flex: auto;
  }

  aside nav .nav-item a {
    flex-direction: column;
  }
}

aside nav .nav-item a:hover {
  color: salmon;
}

aside nav .nav-item span {
  border-radius: 0.75rem;
  padding: 0.5rem 0.95rem;
  background-color: rgb(70, 70, 70);
  position: relative;
  box-shadow: 0 0 0.5rem rgb(70, 70, 70);
  opacity: 0;
  transition: 350ms ease-out;
  visibility: hidden;
}

@media (width <= 767px) {
  aside nav .nav-item span {
    position: absolute;
    transform: translateY(-7rem);
  }
}

@media (width >= 768px) {
  aside nav .nav-item span {
    margin-right: 2rem;
    transform: translateX(-3rem);
  }
}

aside nav .nav-item span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: -18px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(70, 70, 70);
}

@media (width <= 767px) {
  aside nav .nav-item span::after {
    margin-right: 48px;
    transform: translateX(-50%);
    top: 100%;
    left: 50%;
    border-width: 11px;

    border-color: rgb(70, 70, 70) transparent transparent transparent;
  }
}

aside nav .nav-item:hover span {
  opacity: 1;
  visibility: visible !important;
}

@media (width <= 767px) {
  aside nav .nav-item:hover span {
    transform: translateY(-3rem);
  }
}

@media (width >= 768px) {
  aside nav .nav-item:hover span {
    transform: translateX(0);
  }
}

aside nav .nav-item :is(i, svg) {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  display: inherit;
  align-items: center;
  justify-content: center;
}
